* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f5;
    color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 24px;
    border-radius: 12px;

    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.05);
}

#add-todo {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    /* justify-content: center; */
}

#add-todo input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.2s;
}

#add-todo input:focus {
    border-color: #2563eb;
}

#add-todo button {
    padding: 12px 18px;

    border: none;
    border-radius: 8px;

    background: #2563eb;
    color: white;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    transition: background 0.2s;
}

#add-todo button:hover {
    background: #1d4ed8;
}

#todo-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    padding: 14px;
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}

#todo-list li span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#todo-list li button {
    width: 24px;
    height: 24px;
}